.form {
    display: flex;
    flex-direction: column;
  }
  
  .input, .textarea, .checkbox {
    margin-bottom: 10px;
  }
  
  .imagePreview {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .checkbox {
    transform: scale(1.5);
    margin-bottom: 10px;
  }
  